run = "npm run dev"
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42902482
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run dev"]
